
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFndQ-YF1Gk1pnCYoGVe39jp0CDMLOwimZz086iHyUMzGwp85K" alt=""> Students App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    
      </ul>
      <form class="form-inline my-2 my-lg-0">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0 text-center">
              <li class="nav-item active text-center">
                  <a class="nav-link text-center" href="#/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item text-center">
                  <a class="nav-link text-center" href="#/add">Add Student</a>
                </li>
              </ul>
    
      </form>
    </div>
  </nav>